---
import type { HeroData } from '@core/content/types'
const { data } = Astro.props as { data: HeroData }
---

<section class="ui-section">
  <div class="ui-section-container flex flex-col flow">
    <img src="images/emma.svg" alt="Samantha Craft" width="400" class="invert" />
    <!-- <div class="flex">
      <input type="text" value="width (mm)" type="number" />
      <input type="text" value="lenght (mm)" type="number" />
    </div>

    <input type="text" value="email" type="email" /> -->
    <a href="images/emma.svg" download="production-emma.svg" class="ui-button pa-xs">Download Production Vector</a>
  </div>
</section>
